
/* Start HEADER */


.logo { 
    width: 100%;
    max-width: 300px;
    float: left;

}

#logo {
    width: 200px;
    height: 150px;
}


nav ul {
    width: 100%;
    height: 150px;
    background-color: #62D2A2;
}



nav ul li {
    display: inline;
    float: left;
    margin: 70px 30px;
    padding-right: 20px;
    font-size: 20px;
    padding-top: 35px;
}


nav ul li :hover {
    background-color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Stop Header */




